{%extends "layout.html"%}
{%block content%}
<div>

  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <form enctype="multipart/form-data" action="{{ url_for('upload_form')}}" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1">Field Name</label>
                <input name="field_name" type="text" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Enter Field Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Well Name</label>
                <input name="well_name" type="text" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Enter Well Name">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Latitude</label>
                  <input name="form_lat" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Latitude">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Longitude</label>
                  <input name="form_lon" ftype="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Longitude">
                </div>
              </div>
              <br>
              <!-- <div class="custom-file">
                      <input name="form_file" type="file" class="custom-file-input" id="validatedCustomFile">
                      <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                      <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div> -->
              <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input name="form_file" type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <br><br><br>
              <div class="float-right">
                <input type="submit" class="btn btn-primary">
              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead class="table-dark">
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Field Name</th>
                  <th scope="col">Well Name</th>
                  <th scope="col">Data</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                {% for data in user_data %}

                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>VOLVE</td>
                  <td>{{data['coordinate ']['WELL']}}</td>
                  <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                      data-target="#exampleModal{{data['_id']}}">Details</button>
                    <a href="{{ url_for('well_table', id_well=data['_id'])}}" class="btn btn-primary">Analyze</a>
                    <button id="btn-result" class="btn btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="black" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                        <path
                          d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                      </svg> </button>
                    <button onclick="delete_btn" class="btn btn-danger">Delete</button>
                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>

        {% for dataa in user_data %}
        <div class="modal fade" id="exampleModal{{dataa['_id']}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <!-- modal konten -->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Well Data</h5>
              </div>
              <div class="modal-body">
                <!-- tabel data sumur -->
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">GR</th>
                        <th scope="col">ILD</th>
                        <th scope="col">NPHI</th>
                        <th scope="col">RHOB</th>
                        <th scope="col">SW</th>
                        <th scope="col">VSH</th>
                        <th scope="col">PHIE</th>
                        <th scope="col">PERM</th>
                        <th scope="col">FACIES</th>
                        <th scope="col">HC</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% if dataa['data'][0]['GR'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['ILD'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['NPHI'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['RHOB'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['SW'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['VSH'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['PHIE'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['PERM'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['FACIES'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['HC'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}


                    </tbody>

                  </table>
                </div>
                <!-- tabel data sumur -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <!-- modal result -->

        <div class="modal fade" id="ResultLog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <!-- modal konten -->
            <div class="modal-content">
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <script>

    $(document).ready(function () {

      $('#btn-result').click(function () {
        $.ajax({
          url: '/result',
          type: "post",
          data: {},
          success: function (data) {
            $(".modal-body").html(data);
            $("#ResultLog").modal("show");
          }
        })
      });

    });
  </script>

</div>

{%endblock%}