{%extends "layout.html"%} {%block content%}
<div class="form-container">
  <br /><br />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card card-form" style="width: 30rem">
          <div class="card-body">
            <form id="needs-validation" enctype="multipart/form-data" action="{{ url_for('upload_form')}}" method="POST"
              novalidate>
              <div class="form-group">
                <label for="exampleInputEmail1">Field Name</label>
                  <select class="form-control" id="exampleInputEmail1" required>
                    <option>VOLVE</option>
                  </select>
              </div>

              
              <div class="form-group">
                <label for="exampleInputEmail1">Well Name</label>
                <input name="well_name" type="text" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Enter Well Name" required />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Latitude</label>
                  <input name="form_lat" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Latitude" required />
                </div>
                <div class="col-md-6">
                  <label for="exampleInputEmail1">Longitude</label>
                  <input name="form_lon" ftype="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Longitude" required />
                </div>
              </div>
              <br />
              <!-- <div class="custom-file">
                      <input name="form_file" type="file" class="custom-file-input" id="validatedCustomFile">
                      <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                      <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div> -->
              <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input name="form_file" type="file" class="form-control-file" id="exampleFormControlFile1" accept=".csv"
                  required />
                <div class="show-file-details">
                </div>
                <p>Only CSV file less than 5 MB</p>

                <div class="invalid-feedback">
                  Please provide a valid File
                </div>
              </div>
              <br /><br /><br />
              <div class="float-right">
                <input type="submit" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card card-list-field">
          <div class="card-body">
            <table class="table table-fluid table-form" id="myTableForm">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Field Name</th>
                  <th scope="col">Well Name</th>
                  <th scope="col">Data</th>

                </tr>
              </thead>
              <tbody>
                {% for data in user_data %}

                <tr>
                  <td scope="row"><p>{{loop.index}}</p></td>
                  <td><p>VOLVE</p>
                   </td>
                  <td> <p>{{data['coordinate ']['WELL']}}</p>
                    </td>
                  <td>
                    <button data-toggle="modal" data-target="#exampleModal{{data['_id']}}"
                      style="background-color: white; border: none">
                      <img src="/static/detail.svg" alt="" />
                    </button>

                    <a href="{{ url_for('well_table', id_well=data['_id'])}}">
                      <img src="/static/analyze.svg" alt="" /></a>
                    <button data-toggle="modal" data-target="#ResultLog" class="btn btn-light" type="button">
                      <img src="/static/view.svg" alt="">
                    </button>
                    <a data-toggle="modal" data-target="#deleteModal{{loop.index}}" class="btn "><img src="/static/delete.svg"
                        alt=""></a>

                    <div class="modal fade" id="deleteModal{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{loop.index}}"
                      aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body d-flex justify-content-center  ">
                            <div class="confirm-content  ">
                              <div class="confirm-massage ">
                                <div class="confirm-logo">
                                  <img src="/static/confirm.svg" alt="" />
                                </div>
                                <div class="confirm-text">
                                  <h3>Confirmation</h3>
                                  <h6>Are you sure to delete this data?</h6>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                              Close
                            </button>
                            <a href="{{ url_for('delete_well', id=data['_id'])}}">
                              <button type="button" class="btn btn-danger btn-lg">
                                Delete
                              </button>
                            </a>
                          </div>
                        </div>
                      </div>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>


        <!--  -->
        <!--  -->
        {% for dataa in user_data %}
        <div class="modal fade" id="exampleModal{{dataa['_id']}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <!-- modal konten -->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Well Data
                </h5>
              </div>
              <div class="modal-body">
                <!-- tabel data sumur -->
                <div class="card-body">

                  <table class="table table-status">
                    <thead>

                      <tr>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right" title="GR (Gamma Ray Log) is a log that measures the natural radioactivity in formations which can be used for identifying lithologies and correlating zones.
                          ">GR</span>
                        </th>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right" title="RT (True Resistivity Log) is an electrical log that measures the value of the electric current resistance in the rock formation.
                            ">RT</span>
                        </th>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right" title="NPHI (Neutron-Porosity Log) is a radioactive log that serves to identify lithology based on the porosity value as measured by the hydrogen concentration in rock formations.
                            ">NPHI</span>
                        </th>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right" title="RHOB (Density Log) is a radioactive log that measures the electron density of a rock layer associated with the value of bulk density.
                            ">RHOB</span>
                        </th>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right" title="SW (Water Saturation) is the sum of the pore volumes in a rock filled with water.
                            ">SW</span>
                        </th>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right" title="VSH (Volume Shale) is the amount of shale content in rock pores.">VSH</span>
                        </th>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right" title="PHIE (Effective Porosity) is the porosity of a rock or sediment available to contribute to fluid flow through the rock.
                            ">PHIE</span>
                        </th>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right"
                            title="PERM (Permeability) is a measure of the ability of a porous rock to allow fluids to pass through it.">PERM</span>
                        </th>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right" title="FACIES is a body of rock with specified characteristics which can be any observable attribute of rocks and the changes that may occur in those attributes over a geographic area. 
                            ">FACIES</span>
                        </th>
                        <th scope="col"><span class="tooltiptext" data-bs-toggle="tooltip" data-bs-container="body"
                            data-bs-placement="right" title="HC is Hydrocarbon (oil or gas) zone.
                            ">HC</span>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      {% if dataa['data'][0]['GR'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-warning btn-sm">
                          <span class="glyphicon glyphicon-alert"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['RT'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-warning btn-sm">
                          <span class="glyphicon glyphicon-alert"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['NPHI'] %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-warning btn-sm">
                          <span class="glyphicon glyphicon-alert"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['RHOB'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-warning btn-sm">
                          <span class="glyphicon glyphicon-alert"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['SW'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}

                      {% if dataa['data'][0]['VSH'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %} {% if dataa['data'][0]['PHIE'] is
                      defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %} {% if dataa['data'][0]['PERM'] is
                      defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %} {% if dataa['data'][0]['FACIES'] is
                      defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %} {% if dataa['data'][0]['HC'] is defined %}
                      <td>
                        <button type="button" class="btn btn-success btn-sm">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </td>
                      {% else %}
                      <td>
                        <button type="button" class="btn btn-danger btn-sm">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      {% endif %}
                    </tbody>
                  </table>
                  <br><br>

                  <!-- monic -->
                  <div class="monic-content">
                    <div class="monic-dictionary-container">
                      <div class="monic-dictionary-button">
                        <p>Click to see our <span class="monic-button"> mnemonic dictionary</span></p>
                      </div>
                      <div class="monic-dictionary">
                        <img src="/static/monic-dictionary.jpg" alt="" />
                      </div>
                    </div>
                    {% for mnemonic in dataa["mnemonic_edit"] %}
                    <div class="monic-data-fill">
                      <label> <i class="glyphicon glyphicon-edit text-success"></i>
                        Your data with curve mnemonic <span> {{mnemonic["before"]}}</span> was added into
                        <span>{{mnemonic["after"]}}</span> .
                      </label>
                    </div>
                    {% endfor %}

                    {% if dataa['data'][0]['GR'] is defined and dataa['data'][0]['RT'] is defined
                    and dataa['data'][0]['NPHI'] is defined and dataa['data'][0]['RHOB'] is defined%}
                    <div></div>
                    {% else %}
                    <div class="monic-data-unfill">
                      <span class="glyphicon glyphicon-alert text-warning"></span>
                      <p>
                        There is data that haven’t read yet. Please choose the choice
                        below to make sure that all of the data have been added.
                      </p>
                    </div>

                    <!-- manual mnemonic -->
                    <form id="needs-validation" enctype="multipart/form-data" action="{{ url_for('upload_form')}}"
                      method="POST" novalidate class="monic-update-form">
                      {% if dataa['data'][0]['GR'] is defined %}
                      <div>
                        <label for="update4">GR is defined </label>
                        <span class="glyphicon glyphicon-ok-circle text-success"></span>
                      </div>
                      {% else %}
                      <div class="form-group">
                        <label for="update1">In your file, GR is the same as</label>
                        <select class="form-control" id="update1">
                          {% for key, value in dataa['data'][0].items() if key != "id"%}
                          <option>{{key}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      {% endif %}
                      {% if dataa['data'][0]['RT'] is defined %}
                      <div>
                        <label for="update2">RT is defined </label>
                        <span class="glyphicon glyphicon-ok-circle text-success"></span>
                      </div>
                      {% else %}
                      <div class="form-group">
                        <label for="update2">In your file, RT is the same as</label>
                        <select class="form-control" id="update2">
                          {% for key, value in dataa['data'][0].items() if key != "id"%}
                          <option>{{key}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      {% endif %}
                      {% if dataa['data'][0]['NPHI'] is defined %}
                      <div>
                        <label for="update3">NPHI is defined </label>
                        <span class="glyphicon glyphicon-ok-circle text-success"></span>
                      </div>
                      {% else %}
                      <div class="form-group">
                        <label for="update3">In your file, NPHI the same as</label>
                        <select class="form-control" id="update3">
                          {% for key, value in dataa['data'][0].items() if key != "id"%}
                          <option>{{key}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      {% endif %}
                      {% if dataa['data'][0]['RHOB'] is defined %}
                      <div>
                        <label for="update4">RHOB is defined </label>
                        <span class="glyphicon glyphicon-ok-circle text-success"></span>
                      </div>
                      {% else %}
                      <div class="form-group">
                        <label for="update4">In your file, RHOB is the same as</label>
                        <select class="form-control" id="update4">
                          {% for key, value in dataa['data'][0].items() if key != "id"%}
                          <option>{{key}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      {% endif %}
                      <div></div>
                      <input type="submit" />

                      {% endif %}
                    </form>
                  </div>
                  <!-- end of monic -->
                </div>
                <!-- tabel data sumur -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <!-- modal result -->

        <div class="modal fade" id="ResultLog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <!-- modal konten -->
            <div class="modal-content">
              <div class="modal-body">
                <iframe src="{{ url_for('result_page')}}" style="border: none" width="100%" height="450"></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

    $(document).ready(function () {
      $("#btn_result").click(function () {
        $.ajax({
          url: "/result",
          type: "post",
          data: {},
          success: function (data) {
            $("#ResultLog .modal-body").html(data);
            $("#ResultLog").modal("show");
          },
        });
      });
    });
  </script>


  <!-- 
<script>
  $(document).ready(function () {
    $("#btn_input").click(function () {
      $.ajax({
        url: "/postform",
        type: "post",
        data: {},
        success: function () {
          swal("Good job!", "You clicked the button!", "success");
        },
      });
    });
  });
</script> -->




  <!-- For Validate -->
  <script>
    (function () {
      "use strict";
      window.addEventListener(
        "load",
        function () {
          var form = document.getElementById("needs-validation");
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() == false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");

            },
            false
          );
        },
        false
      );
    })();
  </script>

  <!-- for file validation -->
  <script>
    $(document).ready(function (e) {
      document
        .getElementById("exampleFormControlFile1")
        .addEventListener("change", checkFile, false);

      function checkFile(e) {
        var file_list = e.target.files;

        for (var i = 0, file;
          (file = file_list[i]); i++) {
          var sFileName = file.name;

          var sFileExtension = sFileName.split(".")[1].toUpperCase();
          var iFileSize = file.size;
          var iConvert = (file.size / 5242880).toFixed(2);


          if (
            !(
              sFileExtension === "CSV"

            ) ||
            iFileSize > 5242880
          ) {
            txt = "File type : " + sFileExtension + "<br/>";

            txt +=
              "Only suport CSV file up to 5 MB.\n\n";
            $(".show-file-details").html(txt);
            // alert(txt);
          }
        }
      }
    });
  </script>

  <script>
    var monic_dictionary_button = document.querySelectorAll(".monic-button");
    var monic_dictionary = document.querySelectorAll(".monic-dictionary");

    for (var i = 0; i < monic_dictionary_button.length; i++) {

      (function (x) {
        monic_dictionary_button[x].addEventListener("click", function () {
          monic_dictionary[x].classList.toggle("active");
        });
      })(i)


    }
  </script>

  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>


  <script>
    $(document).ready(function () {
      $('#myTableForm').DataTable();
    });
  </script>
</div>

{%endblock%}