{%extends "layout.html"%}
{%block content%}
<!-- <link rel="stylesheet" href=""> -->
<script type="text/javascript" src={{cdn_js | safe}}></script>

<div>
  <a href="{{ url_for('hist')}}"><button class="btn btn-warning m-3 active">Histogram</button></a>
  <a href="{{ url_for('log')}}"><button class="btn btn-warning m-3">Well Log</button></a>
</div>

<select name="formation" class="form-select" method="GET" action="/">
  {% for formation in list_formation %}
  <option value="{{formation}}" SELECTED>{{formation}}</option>"
  {% endfor %}
</select>

<div class="col-xs-offset-1 mt-3">
  {{script | safe}}
  {{div | safe}}
</div>
{%endblock%}