{%extends "layout.html"%}
{%block content%}
<script type="text/javascript" src={{cdn_js | safe}}></script>

<a href="{{ url_for('hist')}}" id="hist_modal"><button class="btn btn-warning m-3 active">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart"
      viewBox="0 0 16 16">
      <path
        d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
    </svg>Histogram</button></a>
<a href="{{ url_for('log')}}" id="log_modal"><button class="btn btn-warning m-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-eye-fill"
      viewBox="0 0 16 16">
      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
    </svg>Well Log</button></a>

<select name="formation" id="formation" class="form-select" method="GET" action="/">
  {% for formation in list_formation %}
  {% if form == formation %}
  <option value="{{formation}}" selected>{{formation}}</option>
  {% else %}
  <option value="{{formation}}">{{formation}}</option>
  {% endif %}
  {% endfor %}
</select>

<div class="col-xs-offset-1 mt-3">
  {{script | safe}}
  {{div | safe}}
</div>

<script>

  $(document).ready(function () {
    // $('#formation').change(function () {
    //   var form = document.getElementById("formation");
    //   var value_form = form.value;
    //   console.log(value_form)
    //   location.href = URL_add_parameter(location.href, 'param', value_form);
    // });

    $('#formation').change(function () {
      var form = $('#formation').find(":selected").text();
      $.ajax({
        url: '/hist',
        type: "post",
        data: { value_form: form },
        success: function (data) {
          $(".modal-body").html(data);
        }
      })
    });

    $('#log_modal').click(function () {
      $.ajax({
        url: '/well-log',
        type: "post",
        data: {},
        success: function (data) {
          $(".modal-body").html(data);
        }
      })
    });

  });
</script>
{%endblock%}