{%extends "layout.html"%}
{%block content%}
<div>
  <a href="{{ url_for('helloWorld')}}"><button class="btn btn-warning m-3">Home</button></a>
  <a href="{{ url_for('viewForm')}}"><button class="btn btn-warning m-3">Form</button></a>
  <a href="{{ url_for('hist')}}"><button class="btn btn-warning m-3">Log Description</button></a>
  <a href="{{ url_for('vsh_page')}}"><button class="btn btn-warning m-3">ModEv Plot</button></a>
</div>

<div>
  <h3>Hello - This is our Homepage</h3>
</div>
{%endblock%}