
{%extends "layout.html"%} {%block content%}

<div class="success-section">
  <div class="success-container">
    <div class="success-content">
      <div class="success-massage">
        <div class="success-logo">
          <img src="/static/success.svg" alt="" />
        </div>
        <div class="success-text">
          <h3>Success!</h3>
          <h6>Your data was deleted!</h6>
        </div>
      </div>

      <div  class="success-button" ><a href="{{ url_for('viewForm')}}">OK
      </a>
        
      </div>
    </div>
  </div>


{%endblock%}

